.header {
    overflow: hidden;
	padding: 1em 0;
    position: relative;
	background: #50b9b2;

    @include breakpoint(medium) {
        padding: 0;
    }

    .hack-map {
        position: absolute;
        height: 100%;
        width: 100%;
        opacity: .3
    }
}

.header-contain {
    position: relative;
    z-index: 1;

    &::before,
    &::after {
        display: block;
        position: absolute;
        top: -21.5em;
        z-index: -1;
        content: "";
        width: 15em;
        height: 400%;
        background: #000;
    }

    &::before {
        left: 0;
        right: 0;
        margin: 0 auto;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        opacity: .06;
    }

    &::after {
        left: 0;
        right: 0;
        margin: 0 auto;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        opacity: .05;
    }

    @include breakpoint(medium) {
        &::before,
        &::after {
            height: 330%;
            right: auto;
        }

        &::before {
            top: -15.5em;
            left: -14em;
        }

        &::after {
            top: -16em;
            left: 11em;
        }
    }
}

.logo {
	margin: 0;
	color: #fff;
    font-size: 1.625em;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
    font-style: italic;
    text-align: center;

    @include breakpoint(medium) {
        text-align: left;
    }
}

.search-form {
    position: relative;
    margin: 2em auto;

     &::before {
        position: absolute;
        z-index: 1;
        top: .188em;
        left: .125em;
        float: left;
        font-size: 2.5em;
        font-family: 'icomoon';
        content: "\e605";
        color: #e5e8f0;
        cursor: pointer;
    }

    @include breakpoint(medium) {
        margin: 6.25em auto 4em;

        &::before {
            font-size: 4.5em;
        }
    }
}

.search-input {
    position: relative;
    padding: 0 1em 0 2.25em !important;
    height: 2.666em;
    font-size: 1.25em;
    font-family: 'Roboto Slab', serif;
    border: 2px solid rgba(34, 34, 34, .09);
    border-bottom: 0;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-transition: box-shadow .2s;
    transition: box-shadow .2s;

    &:focus {
        box-shadow: 0 0 1px 1px rgba(0, 0, 0, .425);
    }

    @include breakpoint(medium) {
        font-size: 2.25em;
        border-bottom: 2px solid rgba(34, 34, 34, .09);
        border-right: 0;
    }
}

.search-btn {
    height: 3.375em;
    font-size: 1em;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
    background: #e5622f;
    color: #fff;
    border: 2px solid rgba(34, 34, 34, .09);
    border-top: 0;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    cursor: pointer;
    -webkit-transition: background-color .2s;
    transition: background-color .2s;

    &:hover {
        background-color: #ee6e3c;
    }

    &:focus, {
        outline: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    @include breakpoint(medium) {
        height: 3.43em;
        font-size: 1.75em;
        border-top: 2px solid rgba(34, 34, 34, .09);
        border-left: 0;
    }
}

.search-help {
    margin: 0;
    padding: .75em 0 0;
    width: 100%;
    font-size: .875em;
    font-family: 'Roboto Slab', serif;
    color: #16191d;
    text-align: center;

    @include breakpoint(medium) {
        padding: .75em 0 0 6em;
        text-align: left;
    }
}