.header {
	padding: 1.875em 0;
	background: #50b9b2;
}

.logo {
	margin: 0;
	color: #fff;
}

.search-input {
    width: 80%;
    height: 40px; 
    padding: 20px;
    font-size: 1.5em; 
    border: 1px solid #27B7B1;
}

.search-button {
    height: 40px;
    padding: 12px;
    margin-left: -5px;
    background: #F85300;
    color: white;
    border: 1px solid #27B7B1;
}