.navigation-main {
    background: #171C2A;
    width: 100%;
    height: 50px;

    .nav {
        color: white;
        display: inline-block;

        .nav-item {
            display: inline-block;

            &:first-child {
                width: 6em;
            }

            a, a:active, a:visited {
                padding: .97em;
                display: block;
                color: white;
                text-decoration: none;
            }

            &.active, a:hover {
                background: #F85300;
            }
        }
    }

    .search-filters-list {
        display: none;
        position: relative;
        color: white;
        background: #F85300;
        padding: 1em;
        width: 25em;

        label {
            display: block;
        }

        &:hover {
            display: block;
        }
    }
    
    .search-filters:hover .search-filters-list {
        display: block;
    }
}