<!DOCTYPE html>
<html>
<head>
    <title>Hackremotely</title>
    <link href="http://fonts.googleapis.com/css?family=Titillium+Web:700italic,700|Roboto+Slab:400,700" rel="stylesheet" type="text/css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    
    <script src="//maps.google.com/maps/api/js?sensor=true"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/gmaps.js/0.4.12/gmaps.min.js"></script>

    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, user-scalable=no">
</head>
<body ng-app="hack.app" ng-class="bodyClass">

	<div>
		<header class="header row" ng-controller="SearchCtrl as vm">
            <div ng-if="vm.position" class="hack-map" hack-map marker 
                lat="vm.position.latitude" lng="vm.position.longitude"
                options="{ scrollwheel: false }"></div>
            
			<div class="container header-contain">
				<h1 class="logo">Hack Remotely</h1>

                <form class="search-form row" ng-click="vm.clickForm($event)">
				    <!-- hack-autosuggest 
                        source="vm.categories" 
                        category="vm.category"
                        query="vm.query"
                        search="vm.send(vm.query)"
                        ng-change="vm.queryChanged()" -->
                    <input 
                        type="text" class="search-input sm-12 md-9" 
                        ng-model="vm.query" placeholder="Where ya hackin'?">
                    
                    <button ng-click="vm.send(vm.query)" ng-disabled="!vm.position" class="search-btn sm-12 md-3">
                        Find a place
                    </button>

                    <p class="search-help left">i.e. Nashville, Omaha, Dallas, etc.</p>
                </form>
			</div>
		</header>

        <nav class="navigation-main">
            <div class="container row">
                <ul class="nav dropdown-nav" data-options='{ "click": false }'>
                    <li class="nav-item search-filters pull-right active">
                        <a>Filters <i class="icon-arrow-down"></i></a>

                        <div class="search-filters-list">
                            <label>
                                <input type="checkbox" />
                                COFFEE
                            </label>
                            <label>
                                <input type="checkbox" />
                                Membership fee required
                            </label>
                            <label>
                                <input type="checkbox" />
                                Dedicated meeting rooms
                            </label>
                            <label>
                                <input type="checkbox" />
                                Dedicated “quiet” rooms
                            </label>
                            <label>
                                <input type="checkbox" />
                                Access to printer
                            </label>
                            <label>
                                <input type="checkbox" />
                                Sunlight
                            </label>
                            <label>
                                <input type="checkbox" />
                                Access to fridge (if you want to bring your lunch)
                            </label>
                            <label>
                                <input type="checkbox" />
                                Food/beverages available for purchase
                            </label>
                            <label>
                                <input type="checkbox" />
                                Power outlets
                            </label>
                            <label>
                                <input type="checkbox" />
                                Microwave
                            </label>
                            <label>
                                <input type="checkbox" />
                                Internet speed / reliability
                            </label>
                            <label>
                                <input type="checkbox" />
                                Keywords
                            </label>
                        </div>
                    </li>
                    <li class="nav-item"><a href="#/">Home</a></li>
                    <li class="nav-item"><a href="#/">Places to Work</a></li>
                    <li class="nav-item"><a href="#/">Remote Hacks</a></li>
                    <li class="nav-item"><a href="#/">About Hack Remotely</a></li>
                    <li class="nav-item"><a href="#/">Contact</a></li>
                </ul>
            </div>
        </nav>

		<section class="container row" ng-view>
		</section>
	</div>

    <script>
        window.Foursquare = {};
        Foursquare.categories = <%= raw @categories.to_json %>
    </script>
</body>
</html>