<!DOCTYPE html>
<html>
<head>
    <title>Hackremotely</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>
<body ng-app="hack.app">
	<div ng-controller="AppCtrl as vm">
		<header class="header row">
			<div class="container">
				<h1 class="logo">Hack Remotely</h1>

                <form ng-submit="vm.send()">
				    <input type="text" class="search-input" ng-model="vm.query" placeholder="Where ya hackin'?">
				    <button ng-click="vm.send()" ng-disabled="!vm.position" class="search-button">
                        <i class="fa fa-search"></i>
                        Find a place
                    </button>
                </form>
			</div>
		</header>

        <nav class="navigation-main">
            <div class="container row">
                <div class="nav-item">
                    Filters <i class="fa fa-angle-down"></i>
                </div>
            </div>
        </nav>

		<section class="container row" ng-view>
		</section>
	</div>
</body>
</html>