<!DOCTYPE html>
<html>
<head>
    <title>Hackremotely</title>
    <link href="http://fonts.googleapis.com/css?family=Titillium+Web:700italic,700|Roboto+Slab:400,700" rel="stylesheet" type="text/css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>
<body ng-app="hack.app">
	<div ng-controller="AppCtrl as vm">
		<header class="header row">
			<div class="container header-contain">
				<h1 class="logo">Hack Remotely</h1>

                <form class="search-form row" ng-submit="vm.send()">
				    <input type="text" class="search-input sm-12 md-9" ng-model="vm.query" placeholder="Where ya hackin'?">
				    <button class="search-btn sm-12 md-3" ng-click="vm.send()" ng-disabled="!vm.position">Find a place</button>
                    <p class="search-help left">i.e. Nashville, Omaha, Dallas, etc.</p>
                </form>
			</div>
		</header>

        <nav class="navigation-main">
            <div class="container row">
                <div class="nav-item">
                    Filters <i class="fa fa-angle-down"></i>
                </div>
            </div>
        </nav>

		<section class="container row" ng-view>
		</section>
	</div>
</body>
</html>